DancePanel
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	> .buttons
	{
		position: absolute;
		top: 8px;
		left: 8px;
		right: 8px;
		gap: 8px;
		
		> .btn
		{
			background-color: rgba(white, 0.1);
			width: 32px;
			height: 32px;
			font-size: 24px;
			justify-content: center;
			align-items: center;
			text-align: center;
			cursor: pointer;
			pointer-events: all;
			color: white;
		}

		> .search
		{
			flex-grow: 1;
			height: 32px;
			background-color: rgba(white, 0.1);
			border: none;
			border-radius: 4px;
			padding: 0 8px;
			font-family: Poppins;
			font-size: 18px;
			color: white;
			align-items: center;
			
			i
			{
				font-size: 22px;
			}

			TextEntry
			{
				pointer-events: all;
				flex-grow: 1;
			}
		}
	}

	> .settings
	{
		flex-direction: column;
		position: absolute;
		top: 48px;
		left: 8px;
		width: 35%;
		background-color: rgba(white, 0.1);
		padding: 24px;
		font-family: Poppins;
		font-size: 24px;
		color: white;
		gap: 4px;
		pointer-events: all;
		
		> h1
		{
			font-size: 22px;
			opacity: 0.5;
			text-transform: uppercase;
			margin-top: 8px;
			align-items: center;
			gap: 8px;

			i
			{
				text-transform: none;
			}

			&:first-child
			{
				margin-top: 0;
			}
		}

		> .setting
		{
			width: 100%;
			justify-content: space-between;
			align-items: center;
			gap: 16px;
			flex-shrink: 0;
			padding-left: 16px;

			> p
			{
				flex-shrink: 0;
			}

			> .peak-slider
			{
				width: 100%;

				.peak-fill
				{
					position:absolute;
					left: 0;
					bottom: 0;
					height: 4px;
					background-color: white;
					pointer-events: none;
					z-index: 2;

					&.target
					{
						background-color: rgba(red, 0.5);
						z-index: -1;
					}
				}
			}
		}
	}

	.currently-playing
	{
		position: absolute;
		bottom: 8px;
		left: 8px;
		color: white;
		font-family: Poppins;
		font-size: 18px;
		align-items: center;
		gap: 4px;

		i
		{
			font-size: 24px;
		}
	}
}